body {
	width: 800;
	background-image: url("bg.jpg");
	margin: 0 auto;
}
h1 {
	font-family: calibri;
	color: lavender;
}
h2 {
	font-family: calibri;
	color: lavender;
}
p {
	font-family: calibri;
	color: lavender;
}
p:first-letter{
	font-size: 20;
}
li {
	font-family: calibri;
	color: lavender;
}
a {
	font-family: calibri;
	color: slateblue;
	text-decoration: none;

}
a:hover{
	font-family: calibri;
	color: slateblue;
	text-decoration: underline;
}
em {
	color: orchid;
}
strong{
	color: plum;
}
.Underline:hover .Underline-content{
	display: block;
}