body {
	width: 800;
	background-image: url("bg.jpg");
	margin: 0 auto;
}
h1 {
	font-family: calibri;
	color: lavender;
}
h2 {
	font-family: calibri;
	color: lavender;
}
p {
	font-family: calibri;
	color: lavender;
}
li {
	font-family: calibri;
	color: lavender;
}
a {
	font-family: calibri;
	color: slateblue;
}
em {
	color: orchid;
}
strong{
	color: plum;
}